@font-face {
    font-family: 'Wulkan Display';
    src: local('Wulkan Display Light'), local('Wulkan-Display-Light'),
        url('WulkanDisplayLight.woff2') format('woff2'),
        url('WulkanDisplayLight.woff') format('woff'),
        url('WulkanDisplayLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }